
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Environment Social Greener
  </title>
  <!-- Favicon-->
  <link href="{% static './assets/img/brand/earth.png' %}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link href="{% static './assets/js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
  <link href="{% static './assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static './assets/css/argon-dashboard.css' %}" rel="stylesheet" />
</head>

<style>
  @font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }
  body{font-family: 'GongGothicLight';}
</style>

<body class="">
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/home">
        <img src="{% static './assets/img/brand/logo.jpg' %}" class="navbar-brand-img" alt="..." style="padding-top: 2rem;">
      </a>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="">
                <img src="{% static './assets/img/brand/logo.jpg' %}">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Navigation -->
        <ul class="navbar-nav" >
          <li class="nav-item">
            <a class="nav-link  active " href="/home" style="font-size: 1.1rem;">
              <i class="fa fa-lightbulb text-indigo"></i> 프로젝트 개요
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/health" style="font-size: 1.1rem;">
              <i class="fa fa-heartbeat text-orange"></i> 건강 데이터 시각화
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/environment" style="font-size: 1.1rem;">
              <i class="fa fa-tree text-green"></i> 환경 데이터 시각화
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/corr" style="font-size: 1.1rem;">
              <i class="fa fa-line-chart text-yellow"></i> 환경과 건강 상관관계
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/use" style="font-size: 1.1rem;">
              <i class="fa fa-handshake text-gray-dark"></i> 활용방안
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">

      </div>
    </div>
  </nav>
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <p class="h3 mt-3 mb-0 text-white text-uppercase d-none d-lg-inline-block"> 환경 데이터 시각화</p>
        <!-- Form -->
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-4 ">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-3">시각화 설명</h5>
                      <span class="h4 font-weight-bold mb-0">지역별 수질지표의 농도 차이를 한눈에 확인할 수 있습니다. 수질지표와 유기물질부하량방류량, 폐수방류량 간 상관관계를 나타냈습니다.</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fa fa-bullhorn"></i>
                      </div>
                    </div>
                  </div>
<!--                  <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>-->
<!--                    <span class="text-nowrap">Since last month</span>-->
<!--                  </p>-->
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-3">시각화 설명</h5>
                      <span class="h4 font-weight-bold mb-0">지역별 대기질지표의 농도 차이를 한눈에 확인할 수 있습니다. 대기질지표와 발암우려물질배출량, 화학물질배출량 간 상관관계를 나타냈습니다.</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fa fa-paper-plane"></i>
                      </div>
                    </div>
                  </div>
<!--                  <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>-->
<!--                    <span class="text-nowrap">Since last week</span>-->
<!--                  </p>-->
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-3">데이터 보는 방법</h5>
                      <span class="h4 font-weight-bold mb-0">원하는 수질 또는 대기질지표를 드롭다운에서 선택하면, 그 지표에 관한 데이터를 확인할 수 있습니다. 재생 버튼을 선택하면 연도별 변화를 확인할 수 있습니다.  </span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fa fa-search"></i>
                      </div>
                    </div>
                  </div>
<!--                  <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>-->
<!--                    <span class="text-nowrap">Since yesterday</span>-->
<!--                  </p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 대시보드 -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl mb-5 mb-xl-0">
          <div class="card bg-gradient-white shadow">
            <div class="card-header bg-transparent">

            </div>
            <div class="card-body" >
              <!-- Chart -->
              <iframe src="https://public.tableau.com/views/23_16363444492460/sheet2?:language=ko-KR&publish=yes&:display_count=n&:origin=viz_share_link:showVizHome=no&amp;:embed=true" style= height:40rem;"></iframe>

            </div>
          </div>
        </div>
      </div>
      <!-- 시각화 설명 -->
      <div class="row mt-5">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card position-relative">
            <div class="card-body">
              <div class="col-md-12 col-xl-12 d-flex flex-column justify-content-start">
                <div class="ml-xl-4 mt-3">
                  <h1 class="text-primary">자세한 설명</h1>
                  <p>수질지표와 환경배출량(폐수방류량, 유기물질부하량방류량) 간 상관관계 파악을 위하여 Tableau를 활용해 시각화했습니다.<br>대기질지표와 환경배출량(화학물질배출량, 발암우려물질배출량) 간 상관관계 파악을 위하여 Tableau를 활용해 시각화했습니다. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              @ Creative
              <a href='https://github.com/jaywoong' class="font-weight-bold ml-1" target="_blank">jaywoong</a>
              <a href='https://github.com/mmeooo' class="font-weight-bold ml-1" target="_blank">mmeooo</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!--   Core   -->
  <script src="{% static './assets/js/plugins/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static './assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <!--   Optional JS   -->
  <script src="{% static './assets/js/plugins/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static './assets/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>
  <!--   Argon JS   -->
  <script src="{% static './assets/js/argon-dashboard.min.js' %}"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>

  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>
</body>

</html>